<configuration>

  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

<spring>

  <context>
    <resource uri="config://spring/objects"/>
  </context>

  <!-- The following objects are required by default -->
  <objects xmlns="http://www.springframework.net">
    <object id="RegionAdapterMappings" 
            type="Microsoft.Practices.Composite.Wpf.Regions.RegionAdapterMappings, Microsoft.Practices.Composite.Wpf" 
            singleton="true"/>
    <object id="IRegionManager" 
            type="Microsoft.Practices.Composite.Wpf.Regions.RegionManager, Microsoft.Practices.Composite.Wpf" 
            singleton="true">
      <constructor-arg name="mappings" ref="RegionAdapterMappings"/>
    </object>
    <object id="IEventAggregator" 
            type="Microsoft.Practices.Composite.Events.EventAggregator, Microsoft.Practices.Composite" 
            singleton="true"/>
    <object id="IModuleLoader" 
            type="Microsoft.Practices.Composite.Modularity.ModuleLoader, Microsoft.Practices.Composite" 
            singleton="true">
      <constructor-arg name="loggerFacade" ref="ILoggerFacade"/>
      <constructor-arg name="containerFacade" ref="IContainerFacade"/>
    </object>
    <object id="ILoggerFacade" 
            type="Microsoft.Practices.Composite.Logging.TraceLogger, Microsoft.Practices.Composite" 
            singleton="true"/>
    <object id="IContainerFacade" 
            type="CompositeWPFContrib.Composite.SpringExtensions.SpringContainerAdapter, CompositeWPFContrib.Composite.SpringExtensions" 
            singleton="true"/>
  </objects>
</spring>

</configuration>